@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}
main {
  border: 1px solid white;
 
  
}

/* Navbar */

nav {
  
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0 3.5rem  ;
  position: fixed;
  inset: 0 0 auto;
  align-items: center;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
  
}

.nav-links li {
  padding: 2rem;
}

.nav-links a:hover {
  color: rgb(100, 0, 0);
}

.logo {
  font-size: 1.5rem;
}

.logo h1 {
  font-weight: lighter;
 
}

/* burger menu nav */

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  margin-right: 30px;
  transition: all 0.4s ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  /*   burger nav */

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 90vh;
   border: 1px solid #ffff;
    background-color: black;
    color: #ffff;
    display: flex;
    flex-direction: column;
    width: 80%; 
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .logo{
    font-size: 1rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* hero Section starts */
#section-hero {
  height: 84vh;
 /*  margin-top: 10vh; */
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;  
  padding: 3.5rem;
  
}

  .hero-left-side {
  width: 50vw;
  padding-top: 12rem;
  ;
  
}  

.hero-right-side{
  
}

.hero-img-1 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
 
   
  
}

.hero-img-2 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin-bottom: 15rem;
  margin-top: 2rem;
  

}

.hero-img-3 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  
}


.hero-left-side h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.1rem;
  line-height: 3.4rem;
  color: #aaaaaa;
}

.hero-left-side p {
  font-family: "Poppins", sans-serif;
  /* font-style: lighter; */
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #aaaaaa;
  
}

.hero-left-side button {
  width: 120px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  color: rgb(100, 0, 0);
}

.hero-left-side button:hover {
  color: #aaaaaa;
  background-color: rgb(100, 0, 0);
}

.contact-button {
  margin-left: 10px;
}

/* about section starts */

#about {
  height: 600px;
  width: 65%;
  margin: 0 auto;
}
.carousel-container {
  height: 70%;
  overflow-x: hidden;
  align-items: center;
}

.carousel-slide {
  position: absolute;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel-container-header {
  text-align: center;
  padding-top: 15px;
}

.about-card {
  display: flex;
  padding-top: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.about-img {
  width: 270px;
  height: 400px;
  border-radius: 5px;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 0 120px;
  justify-content: center;
  opacity: 0.8;
}

.about-info-text {
  font-family: "Poppins", sans-serif;
  color: rgb(100, 0, 0);
  padding-top: 20px;
}

.about-info-header {
  color: rgb(0, 0, 0);
}

.carousel-button {
  transform: translateX(30vw);
}

#prev-btn {
  margin-top: 15px;
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

#next-btn {
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

/* menu section starts */
#menu {
  background-color: black;
}
#menu h1 {
  color: #ffff;
  text-align: center;
  padding: 20px;
}
.menu-buttons {
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}

.menu-card {
  height: 350px;
  width: 220px;
  text-align: center;
  margin: 30px 50px;
  border: 2px solid rgb(100, 0, 0);
  border-radius: 5px;
}

.menu-card:hover {
  background-color: rgb(100, 0, 0);
  /*  opacity: 0.7; */
}

.menu-card-img {
  width: 210px;
  height: 200px;
  margin-top: 5px;
  border-radius: 5px;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.menu-card-discription {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #aaaaaa;
}

.menu-buttons button {
  margin-top: 5px;
  color: #ffff;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  height: 30px;
  margin: 10px;
  width: 90px;
  height: 40px;
  border-radius: 5px;
}

.menu-buttons button:hover {
  background-color: rgb(100, 0, 0);
}

/* contact section starts */
#contact {
  background-color: black;
  color: white;
  text-align: center;
}

#contact h1 {
  padding: 30px 0;
}

.contact {
  /* height: 60vh; */
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3.5rem;
}

.contact-form {
  color: white;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

form input {
  background-color: black;
  border-bottom: 2px solid rgb(100, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 0.7;
  color: #ffff;
  padding-top: 5px;
}

form textarea {
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  border-radius: 5px;
  color: #ffff;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.form-submit-button {
  margin-top: 5px;
  color: #ffff;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  height: 30px;
  border-radius: 5px;
}

.form-submit-button:hover {
  background-color: rgb(100, 0, 0);
}

.map-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  
}

/* footer starts */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  color: white;
  background-color: black;
  text-decoration: none;
  border: 1px solid white;
  height: 20vh;
}
footer div {
  padding-top: 20px;
}

.footer ul li {
  list-style: none;
  text-decoration: none;
  padding-top: 3px;
}

a {
  color: white;
  text-decoration: none;
  
}

.footer ul li a:hover {
  color: rgb(100, 0, 0);
}


/* media queries */

@media screen and (max-width: 1100px) {
 
  .hero-right-side img {
    display: none;
  }

}

@media screen and (max-width: 900px) {
  .hero-left-side {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
   
  }

  a {
    font-size: 00.8rem;
  }




}


