@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  border: 1px solid white;
}

/* Navbar */

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0 2.5rem;
  position: fixed;
  inset: 0 0 auto;
  align-items: center;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 2rem;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}

.logo {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.5;
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* burger menu nav */

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.4s ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  /*  body {
    overflow-x: hidden;
  } */

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 75vh;
    border: 1px solid #ffff;
    background-color: black;
    color: #ffff;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .logo {
    font-size: 1rem;
    letter-spacing: 9px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

nav {
  padding: 0 2.5rem;
}

/* hero Section starts */
#section-hero {
  height: 90vh;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem ;
}

.hero-left-side {
  width: 50vw;
  padding-top: 12rem;
}

.hero-img-1 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.hero-img-2 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin-bottom: 15rem;
  margin-top: 2rem;
}

.hero-img-3 {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.hero-left-side h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.4rem;
   letter-spacing: 3px; 
}

.hero-left-side p {
  font-family: "Poppins", sans-serif;
   font-style: lighter; 
  font-weight: 200;
  font-size: 1.2rem;
  
  color: #aaaaaa;
}

.hero-left-side button {
  width: 100px;
  height: 45px;
  margin-top: 20px;
  background-color: rgb(216, 216, 216);
  border: 1px solid white;
  color: black;
  letter-spacing: 1px;
  
}



.hero-left-side a {
  color: #000000;

}


.contact-button {
  margin-left: 10px;
}

/* about section starts */

#about {
  height: 90vh;
  width: 65%;
  margin: 0 auto;
}

.carousel-container {
  height: 70%;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
}

.carousel-slide {
  position: absolute;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel-container-header {
  text-align: center;
  padding-top: 15px;
}

.about-card {
  display: flex;
  padding-top: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.about-img {
  width: 270px;
  height: 400px;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 0 120px;
  justify-content: center;
  opacity: 0.8;
}

.about-info-text {
  font-family: "Poppins", sans-serif;
  color: rgb(100, 0, 0);
  padding-top: 20px;
}

.about-info-header {
  color: rgb(0, 0, 0);
}

.carousel-button {
  transform: translateX(35vw);
}

#prev-btn {
  margin-top: 15px;
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

#next-btn {
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

/* menu section starts */
#menu {
  background-color: black;
  padding: 0 2.5rem;
}

#menu h1 {
  color: #ffff;
  text-align: center;
  padding: 20px;
}

.menu-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-card {
  height: 21rem;
  width: 13.75rem;
  text-align: center;
  margin: 1.875rem 1.875rem;
  border: 1px solid white;
}

.menu-card-img {
  width: 13.25em;
  height: 12.5em;
  margin-top: 0.3em;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
}

.menu-card-discription {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #aaaaaa;
}

.menu-card-price {
  color: #aaaaaa;
  font-size: 0.5;
  padding-top: 2px;
}

.menu-buttons {
  display: flex;
  justify-content: space-around;
}

.menu-buttons button {
  color: #ffff;
  background-color: black;
  border: 1px solid white;
  letter-spacing: 2px;
  width: 6rem;
  height: 40px;
}

.menu-buttons button:hover {
  background-color: white;
  color: #000000;
}

/* contact section starts */
#contact {
  background-color: black;
  color: white;
  text-align: center;
}

#contact h1 {
  padding: 30px 0;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2.5rem;
  align-items: center;
}

.contact-form {
  color: white;
  width: 500px; 
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  
}

form input {
  background-color: black;
  border: 1px solid #ffff;
  height: 27px;
  color: #ffff;
  padding-top: 5px;
  border-radius: 0;
}

form label {
  padding-top: 5px;
  
}

form textarea {
  background-color: black;
  border: 1px solid #ffff;
  border-radius: 0;
  color: #ffff;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.form-submit-button {
  margin: 0.8rem 0;
  color: #ffff;
  background-color: black;
  border: 1px solid #ffff;
  height: 39px;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.form-submit-button:hover {
  color: #ffff;
  border: 2px solid #ffff;
}

.map-image {
  height: 56vh;
  margin-top: 1rem;
}

/* footer starts */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.5rem;
  color: white;
  background-color: black;
  text-decoration: none;
  border: 1px solid white;
  height: 5vh;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  list-style: none;
  text-decoration: none;
  line-height: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

footer ul img {
  height: 1.8rem;
}

a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  color: rgb(100, 0, 0);
}

/* media queries */

@media screen and (max-width: 1100px) {
  .hero-right-side img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* hero section for mobile */
  .hero-left-side {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
  }

  .hero-left-side h4 {
    font-size: 3.2rem;
    font-weight: bolder; 
    /* letter-spacing: 2px; */
    
  }

  .hero-left-side p {
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    line-height: 15px;
  }

  .hero-left-side button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }

  .hero-left-side button a {
    font-size: 1rem;
  }

  /* about section */

  #about {
    width: 100vw;
  }

  .carousel-container {
    height: 70%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
  }

  .about-card {
    width: 100vw;
   
    align-items: center;

    background-color: rgb(243, 243, 243);
  }

  .about-img {
    height: 15rem;
    width: 10rem;
    border-radius: 0;
    padding-top: 2rem;
  }

  .about-info {
    width: 50vw;
    padding: 5px;
  }

  .about-info-header {
    padding-right: 200px;
  }

  .about-info-text {
    height: 16rem;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    color: #000000;
    padding-left: 0.3rem;
  }

  #prev-btn {
    margin-top: none;
  }

  .carousel-button {
    transform: translateX(45vw);
  }

  /* menu section for mobile */

  #menu {
    padding: 0 0.5rem;
  }
  .menu-card {
    height: 15.5rem;
    width: 9.3rem;
    text-align: center;
    margin: none;
    border: 1px solid white;
    margin: 0.8rem;
  }

  .menu-card-img {
    width: 95%;
    height: 8em;
    margin-top: 0.2em;
  }

  .menu-card-price {
    color: #aaaaaa;
    font-size: 0.5;
    padding-top: 2px;
  }

  .menu-card h4 {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .menu-card-discription {
    font-size: 0.7rem;
    line-height: 15px;
    letter-spacing: 0.3px;
  }

  .menu-buttons {
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  /* contact section for mobile */

 
  .map {
    display: none;
  }
}
