@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
main {
  border: 1px solid white;
}

/* Navbar */

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border: 1px solid white;
  position: fixed;
  inset: 0 0 auto;
  align-items: center;
  z-index: 100;
}

.left-menu {
  display: flex;
  list-style: none;
  padding-left: 48px;
}

.left-menu li {
  padding: 30px;
}

.right-menu {
  display: flex;
  list-style: none;
}

.right-menu li {
  padding: 30px;
}

.logo {
  font-size: 1.5rem;
}

.logo h1 {
  font-weight: lighter;
  padding-right: 75px;
}

.left-menu a:hover {
  color: rgb(100, 0, 0);
}

.right-menu a:hover {
  color: rgb(100, 0, 0);
}

/* hero Section starts */
#section-hero {
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: 10vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.hero-left-side {
  width: 47vw;
  padding-left: 75px;
}

.hero-img-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 200px;
}

.hero-img-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.hero-img-3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}

.hero-left-side h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  color: #fbfbfb;
}

.hero-left-side h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #aaaaaa;
}

.hero-left-side p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #aaaaaa;
}

.hero-left-side button {
  width: 120px;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  color: rgb(100, 0, 0);
}

.hero-left-side button:hover {
  color: #aaaaaa;
  background-color: rgb(100, 0, 0);
}

/* about section starts */

#about {
  height: 600px;
  width: 65%;
  margin: 0 auto;
}
.carousel-container {
  height: 70%;
  overflow-x: hidden;
  align-items: center;
}

.carousel-slide {
  position: absolute;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel-container-header {
  text-align: center;
  padding-top: 15px;
  
}

.about-card {
  display: flex;
  padding-top: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.about-img {
  width: 270px;
  height: 400px;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 0 120px;
  justify-content: center;
  opacity: 0.8;
}

.about-info-text {
  font-family: "Poppins", sans-serif;
  color: rgb(100, 0, 0);
  padding-top: 20px;
}

.about-info-header {
  color: rgb(0, 0, 0);
}

.carousel-button {
  transform: translateX(30vw);
}

#prev-btn {
  margin-top: 15px;
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

#next-btn {
  border: none;
  color: black;
  background-color: #ffff;
  font-size: 30px;
}

/* menu section starts */
#menu {
  background-color: black;
}
#menu h1 {
  color: #ffff;
  text-align: center;
  padding: 20px ;
}
.menu-buttons {
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}

.menu-card {
  height: 350px;
  width: 220px;
  text-align: center;
  margin: 30px 50px;
  border: 2px solid rgb(100, 0, 0);
  border-radius: 5px;
}

.menu-card-img {
  width: 210px;
  height: 200px;
  margin-top: 5px;
  border-radius: 5px;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.menu-card-discription {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #aaaaaa;
}

.menu-buttons button {
  margin-top: 5px;
  color: #ffff;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  height: 30px;
  margin: 10px;
  width: 90px;
  height: 40px;
  border-radius: 5px;
}

.menu-buttons button:hover {
  background-color: rgb(100, 0, 0);
}

/* contact section starts */
#contact {
  background-color: black;
  color: white;
  text-align: center;
}

#contact h1 {
  padding: 30px 0;
}

.contact {
  height: 60vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.contact-form {
  color: white;
  width: 350px;
}

form input {
  background-color: black;
  border-bottom: 2px solid rgb(100, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 0.7;
  color: #ffff;
  padding-top: 5px;
}

form textarea {
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  border-radius: 5px;
  color: #ffff;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-submit-button {
  margin-top: 5px;
  color: #ffff;
  background-color: black;
  border: 1px solid rgb(100, 0, 0);
  height: 30px;
  border-radius: 5px;
}

.form-submit-button:hover {
  background-color: rgb(100, 0, 0);
}

.map-image {
  height: 380px;
}

/* footer starts */

footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
  text-decoration: none;
  border: 1px solid white;
  height: 20vh;
}
footer div {
  padding-top: 20px;
}

.footer ul li {
  list-style: none;
  text-decoration: none;
  padding-top: 3px;
}



a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover{
  color: rgb(100, 0, 0);
}
